* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 40px;
    background-color: #222;
    color: #fff;
}

#grid {
    border: 0px solid black;
    outline: 10px solid #000;
    height: 512px;
    width: 512px;
    display: flex;
    flex-wrap: wrap;
    flex: 0;

}

#grid > div {
    border: 1px solid #0002;
    display: flex;
    justify-content:center;
    align-items: center;
    cursor: pointer;
    color: #000;
    font-size: 7px;
    user-select: none;
}
#grid > div.pixel-hover {
    border: 3px solid #0002;
}

#color-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    border: 0px solid black;
    height: 50px;
    width: 520px;
}

#color-selector > div {
    border: 3px solid #0003;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.1s;
}

.color-selected {
    transform: scale(1.3);
}

#size-slider-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}